:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --element-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --element2-text-color: #afb1b8;
  --primary-background-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-bg-color: #2196f3;
  --button-primery-text-color: #ffffff;
  --button-primery-bcg-color: #2196f3;
  --button-secondary-bcg-color: #f5f4fa;
  --element-bcg-color: #f5f4fa;
  --shadow-element-color: #00000015;
  --header-bottom-border: #eeeeee;
  --backdrop-bcg-color: #00000033;
  --modal-icons-color: #000000;
  --animation-set: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
  color: var(--primery-text-color);
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link-nav__link--current::after {
  display: none;
}

@media screen and (min-width: 767px) {
  .link-nav__link--current::after {
    content: "";
    max-width: 100%;
    height: 4px;
    display: block;
    position: relative;
    top: 30px;
    bottom: auto;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: var(--accent-bg-color);
  }
}

.button {
  display: block;
  margin: auto;
  min-width: 200px;
  padding: 10px 32px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-width: 0;
  -webkit-box-shadow: 0 4px 4px 0 #00000015;
          box-shadow: 0 4px 4px 0 #00000015;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--element-text-color);
  background-color: var(--button-primery-bcg-color);
  cursor: pointer;
}

.button:focus,
.button:hover {
  color: var(--element-text-color);
  background-color: var(--button-primery-bcg-color);
  cursor: pointer;
}

.site-nav__logo--accent {
  color: var(--accent-text-color);
}

.mobile-menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  margin-left: auto;
  z-index: 999;
  background-color: var(--primary-background-color);
  fill: var(--modal-icons-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__icon-burger {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu__icon-burger {
    display: none;
  }
}

.mobile-menu__icon-close_menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mobile-menu.is-open .mobile-menu__icon-close_menu {
  display: none;
}

.mobile-menu.is-open .mobile-menu__icon-burger {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mobile-menu:focus .mobile-menu__icon-burger,
.mobile-menu:focus .mobile-menu__icon-burger {
  fill: var(--accent-bg-color);
}

.mobile-menu:focus .mobile-menu__icon-close_menu,
.mobile-menu:focus .mobile-menu__icon-close_menu {
  fill: var(--accent-bg-color);
}

.menu-container {
  display: none;
  background-color: var(--primary-background-color);
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  z-index: 998;
}

.menu-container.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0vw;
    height: 0vh;
  }
}

.page-header__nav-page {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--header-bottom-border);
  position: relative;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: block;
  }
}

.site-nav__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 479px) {
  .site-nav__logo {
    padding-top: 25px;
    padding-bottom: 24px;
    font-size: 26px;
    line-height: 0.8;
  }
}

.link-nav__item {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .link-nav__item {
    margin-left: 50px;
  }
}

.link-nav__link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--animation-set);
  -o-transition: color var(--animation-set);
  transition: color var(--animation-set);
}

.link-nav__link:hover, .link-nav__link:focus {
  color: var(--accent-text-color);
}

.link-nav__link--current {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .link-nav__link {
    padding-top: 32px;
    padding-bottom: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .link-nav {
    margin-left: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .link-nav {
    margin-left: 43px;
  }
}

.auth-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 290px;
  }
}

.auth-nav__item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .auth-nav__item {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:nth-last-child(1) {
    margin-right: 30px;
  }
}

.auth-nav__item:not(:last-child) {
  margin-top: 300px;
}

@media screen and (min-width: 768px) {
  .auth-nav__item:not(:last-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:last-child) {
    margin-top: 0;
  }
}

.auth-nav__phone-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-nav__phone-icon {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: var(--primery-text-color);
    -webkit-transition: fill var(--animation-set);
    -o-transition: fill var(--animation-set);
    transition: fill var(--animation-set);
  }
  .auth-nav__link-phone:hover .auth-nav__phone-icon,
  .auth-nav__link-phone:focus .auth-nav__phone-icon {
    fill: var(--accent-bg-color);
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__phone-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: bottom;
  }
}

.auth-nav__mail-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-nav__mail-icon {
    display: inline-block;
    width: 14px;
    height: 10px;
    margin-right: 10px;
    fill: var(--primery-text-color);
    -webkit-transition: fill var(--animation-set);
    -o-transition: fill var(--animation-set);
    transition: fill var(--animation-set);
  }
  .auth-nav__link-mail:hover .auth-nav__mail-icon,
  .auth-nav__link-mail:focus .auth-nav__mail-icon {
    fill: var(--accent-bg-color);
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__mail-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.auth-nav__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 0.86;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  -webkit-transition: color var(--animation-set);
  -o-transition: color var(--animation-set);
  transition: color var(--animation-set);
}

.auth-nav__link-mail:hover, .auth-nav__link-mail:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .auth-nav__link-mail {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 12px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__link-mail {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.auth-nav__link-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 0.86;
  text-decoration: none;
  -webkit-transition: color var(--animation-set);
  -o-transition: color var(--animation-set);
  transition: color var(--animation-set);
  color: var(--accent-text-color);
}

.auth-nav__link-phone:hover, .auth-nav__link-phone:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .auth-nav__link-phone {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__link-phone {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: 148px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    color: var(--primery-text-color);
  }
}

.menu-social {
  margin-top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .menu-social {
    display: none;
  }
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  text-decoration: none;
}

.menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .hero {
    -webkit-background-size: cover;
            background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.502)), to(rgba(47, 48, 58, 0.502))), url(../img/bcgimage-hero-mob.jpg);
    background-image: -webkit-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero-mob.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero-mob.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero-mob.jpg);
  }
}

@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.502)), to(rgba(47, 48, 58, 0.502))), url(../img/bcgimage-hero-mob-2x.jpg);
    background-image: -webkit-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero-mob-2x.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero-mob-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    -webkit-background-size: cover;
            background-size: cover;
    background-image: url(../img/bcgimage-hero-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.502)), to(rgba(47, 48, 58, 0.502))), url(../img/bcgimage-hero-tab-2x.jpg);
    background-image: -webkit-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero-tab-2x.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero-tab-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    -webkit-background-size: cover;
            background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.502)), to(rgba(47, 48, 58, 0.502))), url(../img/bcgimage-hero.jpg);
    background-image: -webkit-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.502)), to(rgba(47, 48, 58, 0.502))), url(../img/bcgimage-hero@2x.jpg);
    background-image: -webkit-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero@2x.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.502), rgba(47, 48, 58, 0.502)), url(../img/bcgimage-hero@2x.jpg);
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--element-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36em;
    width: 696px;
    padding-top: 0;
  }
}

.hero__button .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--element-text-color);
  background-color: var(--accent-bg-color);
  -webkit-transition: background-color var(--animation-set);
  -o-transition: background-color var(--animation-set);
  transition: background-color var(--animation-set);
}

.hero__button .button:hover, .hero__button .button:focus {
  color: var(--element-text-color);
  background-color: var(--accent-bg-color);
}

.primary {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .primary {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.priorities {
  display: block;
}

@media screen and (min-width: 768px) {
  .priorities {
    margin: -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .priorities {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .priorities__item {
    margin: 15px;
  }
}

.priorities__item:not(:last-child) {
  margin-bottom: 15px;
}

.priorities__thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: var(--element-bcg-color);
}

@media screen and (min-width: 1200px) {
  .priorities__thumb {
    width: 270px;
  }
}

.priorities__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 70px;
  max-width: 66px;
}

.priorities__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .priorities__title {
    width: 100%;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .priorities__title {
    width: 270px;
  }
}

.priorities__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .priorities__text {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .priorities__text {
    width: 270px;
  }
}

.work {
  display: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .work {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work__title {
  display: block;
  pointer-events: visible;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__item {
  display: block;
  position: relative;
  width: 100%;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: var(--secondary-bg-color);
}

.works__text {
  margin: 0;
  padding: 27px 82px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-background-color);
  text-transform: uppercase;
}

.company {
  background-color: var(--button-secondary-bcg-color);
}

.company__title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 0.8;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .company__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team {
  display: block;
}

@media screen and (min-width: 768px) {
  .team {
    margin: -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.team__photo {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .team__photo {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__photo {
    max-width: 270px;
  }
}

.team__member {
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.125), 0 1px 1px 0 rgba(0, 0, 0, 0.078), 0 1px 3px 0 rgba(0, 0, 0, 0.071);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.125), 0 1px 1px 0 rgba(0, 0, 0, 0.078), 0 1px 3px 0 rgba(0, 0, 0, 0.071);
}

@media screen and (min-width: 768px) {
  .team__member {
    margin: 15px;
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__member {
    width: 270px;
    height: 438px;
  }
}

@media screen and (max-width: 479px) {
  .team__member:not(:last-child) {
    margin-bottom: 30px;
  }
}

.teammate {
  padding-top: 30px;
  padding-bottom: 24px;
}

.teammate__title {
  margin: 0;
  padding-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--primary-background-color);
}

.teammate__text {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.teammate__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-top: 16px;
  list-style: none;
}

.teammate__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teammate__social:not(:last-child) {
  margin-right: 10px;
}

.teammate__social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: var(--primary-background-color);
  -webkit-transition: background-color var(--animation-set);
  -o-transition: background-color var(--animation-set);
  transition: background-color var(--animation-set);
}

.teammate__social-link:hover, .teammate__social-link:focus {
  background-color: var(--accent-bg-color);
}

.teammate__social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  fill: var(--element2-text-color);
  -webkit-transition: fill var(--animation-set);
  -o-transition: fill var(--animation-set);
  transition: fill var(--animation-set);
}

.teammate__social-link:hover .teammate__social-icon,
.teammate__social-link:focus .teammate__social-icon {
  fill: var(--primary-background-color);
}

.clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .clients {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

.clients__title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__item {
  margin: 15px;
}

.clients__link {
  min-width: 210px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  border: 1px solid var(--element2-text-color);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border-color var(--animation-set);
  -o-transition: border-color var(--animation-set);
  transition: border-color var(--animation-set);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-bg-color);
}

@media screen and (min-width: 768px) {
  .clients__link {
    min-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    min-width: 170px;
  }
}

.clients__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 106px;
  height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--element2-text-color);
  -webkit-transition: fill var(--animation-set);
  -o-transition: fill var(--animation-set);
  transition: fill var(--animation-set);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-bg-color);
}

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-box {
  margin-bottom: 60px;
}

.footer-box__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--primary-background-color);
}

.footer-box__logo--accent {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .footer-box__logo {
    width: 231px;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    margin-bottom: 0;
  }
}

.adress {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--element-text-color);
  font-style: normal;
}

.auth-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-footer__info:not(:last-child) {
  margin-bottom: 9px;
}

.auth-footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color var(--animation-set);
  -o-transition: color var(--animation-set);
  transition: color var(--animation-set);
}

.auth-footer__link:hover, .auth-footer__link:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .auth-footer {
    display: block;
    width: 100%;
  }
}

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .footer-social {
    min-height: 130px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-bottom: 0;
    margin-left: 70px;
    display: block;
    text-align: start;
    height: auto;
  }
}

.footer-social__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  padding: 0;
  color: var(--primary-background-color);
}

.footer-social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background-color var(--animation-set);
  -o-transition: background-color var(--animation-set);
  transition: background-color var(--animation-set);
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.063);
  fill: var(--primary-background-color);
  -webkit-transition: background-color var(--animation-set);
  -o-transition: background-color var(--animation-set);
  transition: background-color var(--animation-set);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-bg-color);
}

.footer-social__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill var(--animation-set);
  -o-transition: fill var(--animation-set);
  transition: fill var(--animation-set);
}

.footer-social__link .footer-social__icon {
  fill: var(--primary-background-color);
}

.footer-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer-submit {
    margin-left: 93px;
  }
}

.footer-submit__text {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

@media screen and (min-width: 1200px) {
  .footer-submit__text {
    text-align: start;
  }
}

.footer-submit__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer-submit__input {
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: var(--primary-background-color);
  background-color: var(--secondary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: border var(--animation-set);
  -o-transition: border var(--animation-set);
  transition: border var(--animation-set);
}

.footer-submit__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit__input:hover {
  border-color: var(--accent-bg-color);
}

@media screen and (min-width: 768px) {
  .footer-submit__input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit__input {
    min-width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer-submit__button {
  display: block;
  margin: auto;
  min-width: 150px;
  min-height: 50px;
  padding: 10px 29px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-width: 0;
  -webkit-box-shadow: 0 4px 4px 0 var(--shadow-element-color);
          box-shadow: 0 4px 4px 0 var(--shadow-element-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--element-text-color);
  background-color: var(--button-primery-bcg-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-submit__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-submit__field {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-submit__field {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit__field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-y: scroll;
  padding: 94px 15px;
  background-color: var(--backdrop-bcg-color);
  -webkit-transition: visibility var(--animation-set), opacity var(--animation-set);
  -o-transition: visibility var(--animation-set), opacity var(--animation-set);
  transition: visibility var(--animation-set), opacity var(--animation-set);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-modal {
  width: 100%;
  max-width: 450px;
  max-height: 609px;
  background-color: var(--primary-background-color);
  -webkit-transition: background-color var(--animation-set);
  -o-transition: background-color var(--animation-set);
  transition: background-color var(--animation-set);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

@media screen and (min-width: 320px) {
  .backdrop-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .backdrop-modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop-modal__button {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: var(--primary-background-color);
  border: 1px solid #0000001a;
  position: absolute;
  right: 8px;
  top: 8px;
}

.backdrop-modal__button:hover + .backdrop-modal__icon,
.backdrop-modal__button:focus + .backdrop-modal__icon {
  fill: var(--accent-text-color);
}

.backdrop-modal__icon {
  cursor: pointer;
  position: absolute;
  width: 11px;
  height: 11px;
  right: 8px;
  top: 8px;
  fill: var(--modal-icons-color);
  -webkit-transition: fill var(--animation-set);
  -o-transition: fill var(--animation-set);
  transition: fill var(--animation-set);
}

.backdrop-modal__icon:hover, .backdrop-modal__icon:focus {
  fill: var(--accent-text-color);
}

.backdrop-modal__submit-button {
  padding: 10px 55px;
  margin: auto;
  min-width: 200px;
  border-width: 0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--element-text-color);
  background-color: var(--button-primery-bcg-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow var(--animation-set);
  transition: -webkit-box-shadow var(--animation-set);
  -o-transition: box-shadow var(--animation-set);
  transition: box-shadow var(--animation-set);
  transition: box-shadow var(--animation-set), -webkit-box-shadow var(--animation-set);
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 100%;
    min-width: 370px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
  }
}

.form__title {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 8px;
}

.form-item {
  margin-bottom: 10px;
}

.form-item__field {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
}

.form-item__label {
  display: block;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
}

.form-item__input {
  width: 100%;
  height: 44px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  outline: 1px solid #75757580;
  border-width: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  position: relative;
  -webkit-transition: outline-color var(--animation-set);
  -o-transition: outline-color var(--animation-set);
  transition: outline-color var(--animation-set);
}

.form-item__input:hover, .form-item__input:focus {
  outline-color: var(--accent-bg-color);
}

.form-item__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 33px;
  left: 15px;
  fill: var(--modal-icons-color);
  -webkit-transition: fill var(--animation-set);
  -o-transition: fill var(--animation-set);
  transition: fill var(--animation-set);
}

.form-item__input:hover + .form-item__icon,
.form-item__input:focus + .form-item__icon {
  fill: var(--accent-text-color);
}

.form-comment {
  margin-bottom: 20px;
}

.form-comment__label {
  display: block;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
}

.form-comment__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-width: 0;
  resize: none;
  outline: 1px solid rgba(117, 117, 117, 0.5);
  -webkit-transition: outline-color var(--animation-set);
  -o-transition: outline-color var(--animation-set);
  transition: outline-color var(--animation-set);
}

.form-comment__text:hover, .form-comment__text:focus {
  outline-color: var(--accent-bg-color);
}

.form-checkbox {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 30px;
  width: 100%;
}

.form-checkbox__field {
  height: 24px;
}

.form-checkbox__input {
  position: relative;
}

.form-checkbox__input:hover + .form-checkbox__icon,
.form-checkbox__input:focus + .form-checkbox__icon {
  border-color: var(--accent-bg-color);
}

.form-checkbox__input:checked + .form-checkbox__icon {
  background-image: url(../img/SVG/yes-icon.svg);
  background-color: var(--accent-bg-color);
  border-color: var(--accent-bg-color);
}

.form-checkbox__icon {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 2px;
  left: 0px;
  border: 2px solid var(--modal-icons-color);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: background-image var(--animation-set), border-color var(--animation-set), background-color var(--animation-set);
  -o-transition: background-image var(--animation-set), border-color var(--animation-set), background-color var(--animation-set);
  transition: background-image var(--animation-set), border-color var(--animation-set), background-color var(--animation-set);
}

@media screen and (min-width: 1200px) {
  .form-checkbox__icon {
    top: 6px;
    left: 10px;
  }
}

.form-checkbox__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1;
  padding-left: 16px;
}

@media screen and (min-width: 1200px) {
  .form-checkbox__text {
    padding-left: 33px;
    font-size: 14px;
    line-height: 2;
  }
}

.form-checkbox__link {
  font-weight: normal;
  color: var(--accent-bg-color);
}

@media screen and (min-width: 1200px) {
  .form-checkbox__link {
    font-size: 14px;
    line-height: 1.1;
  }
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .btn {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.btn__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .btn__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.btn__item:nth-last-child(2) {
  margin-bottom: 0;
}

.btn__button {
  min-width: 73px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-color: var(--button-secondary-bcg-color);
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--button-secondary-bcg-color);
  -webkit-transition: color var(--animation-set), background-color var(--animation-set), -webkit-box-shadow var(--animation-set);
  transition: color var(--animation-set), background-color var(--animation-set), -webkit-box-shadow var(--animation-set);
  -o-transition: color var(--animation-set), box-shadow var(--animation-set), background-color var(--animation-set);
  transition: color var(--animation-set), box-shadow var(--animation-set), background-color var(--animation-set);
  transition: color var(--animation-set), box-shadow var(--animation-set), background-color var(--animation-set), -webkit-box-shadow var(--animation-set);
}

.btn__button:focus, .btn__button:hover {
  -webkit-box-shadow: 0 2px 2px 0 #00000012, 0 1px 2px 0 #00000008, 0 3px 1px 0 #00000010;
          box-shadow: 0 2px 2px 0 #00000012, 0 1px 2px 0 #00000008, 0 3px 1px 0 #00000010;
  color: var(--element-text-color);
  background-color: var(--button-primery-bcg-color);
  cursor: pointer;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .cards {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.cards__link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow var(--animation-set);
  transition: -webkit-box-shadow var(--animation-set);
  -o-transition: box-shadow var(--animation-set);
  transition: box-shadow var(--animation-set);
  transition: box-shadow var(--animation-set), -webkit-box-shadow var(--animation-set);
}

.cards__link:hover .content-thumb__anime,
.cards__link:focus .content-thumb__anime {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.cards__link:hover, .cards__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0 #00000016, 0 4px 4px 0 #00000006, 0 1px 1px 0 #00000012;
          box-shadow: 1px 4px 6px 0 #00000016, 0 4px 4px 0 #00000006, 0 1px 1px 0 #00000012;
}

.cards__item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .cards__item {
    width: -webkit-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .cards__item {
    width: 370px;
  }
}

.cards__photo {
  width: 100%;
}

.content-thumb {
  position: relative;
  overflow: hidden;
}

.content-thumb__anime {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: #2196f3e5;
  overflow: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--animation-set);
  transition: -webkit-transform var(--animation-set);
  -o-transition: transform var(--animation-set);
  transition: transform var(--animation-set);
  transition: transform var(--animation-set), -webkit-transform var(--animation-set);
}

.content-thumb__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-background-color);
}

.product {
  border: 1px solid var(--header-bottom-border);
  border-top: none;
  padding: 20px 24px;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .product__title {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .product__title {
    font-size: 18px;
  }
}

.product__desc {
  font-weight: 400;
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */