.works {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  &__title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    background-color: var(--secondary-bg-color);
    font-style: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-background-color);
    text-transform: uppercase;
  }
}
