body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
  color: var(--primery-text-color);
}
ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
